
body{
  font-family: 'Mulish', sans-serif;
  text-align: center;
}
input{
  height: 50px;
  width: 500px;
  border-radius: 10px;
  font-size: 20px;
}

.fa-plus{
  position: relative;
  right: 40px;
}